.container {
    display: flex;
    gap: 1rem;

    transform: translate(0%, -50%);
}

.container > input {
    height: 3.375rem;
    padding: 1rem;
    background: var(--gray-500);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    width: 100%;
}

.container > button {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: var(--dark-blue);
    color: var(--gray-100);
    
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 700;
    border: none;
    cursor: pointer;

    transition: background-color .1s;
}

.container > button:hover {
    background: var(--blue);
}

.container > button > svg {
    margin-left: .4rem;
}

.container > input {
    color: var(--gray-100);
}