.taskContainer {
    width: 100%;
    display: flex;
    background: var(--gray-500);
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;

    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-400);
}

.unchecked {
    min-width: 1rem;
    height: 1rem;
    border: 2px solid var(--blue);
    border-radius: 9999px;

    transition: background-color .1s;
}

.unchecked:hover {
    background-color: var(--blue-opacity);
}

.checked {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--dark-purple);
    background: var(--dark-purple);
    border-radius: 9999px;
    min-width: 1rem;
    height: 1rem;
    transition: border .1s, background-color .1s;
}

.checked:hover {
    border: 2px solid var(--purple);
    background: var(--purple);
}

.textTask {
    font-size: 0.875rem;
    width: 100%;
}

.textTaskMarkedAsChecked {
    color: var(--gray-300);
    text-decoration: line-through;
}

.checkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 1rem;
}

.trashButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    background: transparent;
    border: none;
    color: var(--gray-300);
    cursor: pointer;

    transition: backgroud-color .1s;
}

.trashButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    background: transparent;
    border: none;
    color: var(--gray-300);
    cursor: pointer;

    transition: backgroud-color .1s;
}

.trashButton:hover {
    color: var(--danger);
    background: var(--gray-400);
}