.info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.created,
.done {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 700;
}

.created {
    color: var(--blue);
}

.done {
    color: var(--purple);
}

.created span,
.done span {
    background: var(--gray-400);
    color: var(--gray-200);
    padding: .0125rem .5rem;
    border-radius: 9999px;
    margin-left: .625rem;
    font-size: 0.75;
}

.taskListWithoutItems {
    height: 15.25rem;
    margin-top: 2rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.taskList {
    width: 100%;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .75rem;
}

.taskListWithoutItems img {
    margin-bottom: 1rem;
}

.taskListWithoutItems p {
   color: var(--gray-300);
}

.textHighlight {
    font-weight: 700;
}

